html{
  max-width: 100%;
  overflow-x: hidden;
}

header {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0px;
}

#logo {
  float: left;
  margin: 10px 10px 10px 5px;
}

ul {
  position: relative;
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  top: 15px; 
}

li {
  display: inline-block;
  width: 70px;
  text-align: left;
  color: #0099e6;
}

section {
  position: relative;
  top: 40px;
  background-image: url("img/sample-pattern.png"); 
  background-repeat: repeat;
}

h1 {
  text-align: center;
  padding-top: 30px;
  font-family: "Slabo 27px", Helvetica, sans-serif;
  color: #004466;
}
 
#article-list {
  width: 60%;
  margin: auto;
  padding-bottom: 95px;
}

article {
  padding: 10px 10px 10px 18px;
  border: solid;
  border-color: #f2f2f2;
  border-width: 1px;
  background-color: #ffffff;
}
  
a {
  text-decoration: none;
}

h3 {
  font-family: "Slabo 27px", Helvetica, sans-serif;
  color: #0099e6;
}
 
p {
  font-family: "Slabo 27px", Helvetica, sans-serif;
  font-size: 14px;
  word-spacing: 0.08em
}

footer {
  display: block;
  width: 100%;
  position: absolute;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}